<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons right>
            <button ion-button (click)="refreshPage()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Data Customer
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label floating><div class="searchbar-search-icon"></div>Cari Customer</ion-label>
        <ion-input type="text" [(ngModel)]="search"></ion-input>
    </ion-item>
    <ion-list no-lines>
        <!--show this if there are no items in the list-->
        <ion-item [hidden]="people.length > 0">
            <p><strong>Customer data is not available</strong></p>
        </ion-item>
        <!--Display the current conditions data we have -->
        <ion-item *ngFor="let person of people|filter:{NamaCustomer:search}">
            <p><strong>{{person.NamaCustomer}}</strong></p>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>Lotus Lingga Pratama</ion-title>
    </ion-toolbar>
</ion-footer>