<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Settings</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label floating>Image Path</ion-label>
        <ion-input type="text" [(ngModel)]="item.imageUrlPath" (click)="chooseFile()"></ion-input>
    </ion-item>

    <img-loader src="{{item.imageUrlPath}}" [spinner]="true" useImg></img-loader>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button color="secondary" full (click)="resetSettings()">
            Reset
        </button>
        <button ion-button color="secondary" full (click)="updateSettings(item)">
            Atur
        </button>
    </ion-toolbar>
</ion-footer>