<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons right>
            <button ion-button (click)="getPermintaanProduksi()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Permintaan Produksi
        </ion-title>
    </ion-navbar>
    <ion-segment [(ngModel)]="pp">
        <ion-segment-button value="pending">
            Baru
        </ion-segment-button>
        <ion-segment-button value="submitted">
            Terkirim
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content [ngSwitch]="pp">
    <div *ngSwitchCase="'pending'">
        <ion-fab bottom right>
            <button ion-fab mini (click)="addPp()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
        <ion-item>
            <ion-label floating>Cari PP</ion-label>
            <ion-input type="text" [(ngModel)]="searchPP"></ion-input>
        </ion-item>
        <ion-item [hidden]="permintaanProduksi.length > 0">
            <p><strong>Belum Ada data PP</strong></p>
        </ion-item>
        <ion-list>
            <ion-item-sliding *ngFor="let pp of permintaanProduksi|filter:{NamaCustomer:searchPP} ; let i=index">
                <ion-item>
                    <h2 color="primary">{{pp.nomorPO}} [{{pp.pelanggan.NamaCustomer}}]</h2>
                    <p>Tanggal Order: {{pp.orderDate|date}}</p>
                    <p>Deadline: {{pp.deadline|date}}</p>
                    <p>Keterangan: {{pp.description}}</p>
                    <p>Berat Total: {{pp.totalWeight}} gram</p>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="danger" (click)="deletePp(i)">
                        <ion-icon name="trash"></ion-icon>
                        Hapus
                    </button>
                    <button ion-button color="danger" (click)="submitFPp(pp)" [hidden]="isApp">
                        <ion-icon name="paper-plane"></ion-icon>
                        F.Kirim
                    </button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="submitPp(pp)">
                        <ion-icon name="paper-plane"></ion-icon>
                        Kirim
                    </button>
                    <button ion-button color="secondary" (click)="editPp(pp, i)">
                        <ion-icon name="create"></ion-icon>
                        Atur
                    </button>
                    <button ion-button color="primary" (click)="ppDetail(pp)">
                        <ion-icon name="arrow-dropright"></ion-icon>
                        Detail
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

    <div *ngSwitchCase="'submitted'">
        <ion-item>
            <ion-label floating>Cari PP</ion-label>
            <ion-input type="text" [(ngModel)]="searchSubmittedPP"></ion-input>
        </ion-item>
        <ion-item [hidden]="permintaanProduksi.length > 0">
            <p><strong>Belum Ada data PP</strong></p>
        </ion-item>
        <ion-list>
            <ion-item-sliding *ngFor="let pp of submittedPermintaanProduksi|filter:{NamaCustomer:searchSubmittedPP} ; let i=index">
                <ion-item>
                    <h2 color="primary">{{pp.nomorPO}} [{{pp.pelanggan.NamaCustomer}}]</h2>
                    <p>Tanggal Order: {{pp.orderDate|date}}</p>
                    <p>Deadline: {{pp.deadline|date}}</p>
                    <p>Keterangan: {{pp.description}}</p>
                    <p>Berat Total: {{pp.totalWeight}} gram</p>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="danger" (click)="cancelFPp(pp)" [hidden]="isApp">
                        <ion-icon name="paper-plane"></ion-icon>
                        F.Cancel 
                    </button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="reSubmitPp(pp)">
                        <ion-icon name="paper-plane"></ion-icon>
                        Kirim Ulang
                    </button>
                    <button ion-button color="primary" (click)="ppDetail(pp)">
                        <ion-icon name="text"></ion-icon>
                        Detail
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

</ion-content>