﻿<ion-header>
    <ion-navbar>
        <ion-buttons right>
            <button ion-button (click)="doCreateImageAndEmail()">
                <ion-icon name="paper-plane"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            {{ item.nomorPO }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h5>Customer: {{ item.pelanggan.NamaCustomer }}</h5>
    <p>Tanggal : {{item.orderDate | date:'dd MMMM yyyy'}}</p>
    <p>Deadline : {{item.deadline | date:'dd MMMM yyyy'}}</p>
    <p>Keterangan : {{item.description}}</p>
    <p>Berat Total : {{item.totalWeight}} gram</p>
    <ion-list>
        <ion-list-header>
            Detail Barang ({{item.barang.length}})
        </ion-list-header>
        <div *ngFor="let barang of item.barang; let i=index">
            <ion-item>
                {{barang.IdBarangJadi}}
            </ion-item>
            <img-loader [hidden]="item.IdBarangJadi == ''" src="{{imageUrlPath}}{{barang.IdBarangJadi}}.jpg" useImg></img-loader>
            <ion-label> Divisi : {{barang.Divisi}}</ion-label>
            <ion-label> Kadar : {{barang.Kadar}}</ion-label>
            <ion-label> Cap : {{barang.Cap}}</ion-label>
            <ion-label> Warna BJ : {{item.WarnaBJ}}</ion-label>
            <ion-label [hidden]="!barang.Calculation">Jumlah : {{barang.Quantity}} Gram</ion-label>
            <ion-label [hidden]="barang.Calculation">Jumlah : {{barang.Quantity}} Pieces</ion-label>
        </div>
    </ion-list>
</ion-content>