﻿<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Ubah Detail Barang
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <template #withDetails let-attrs="attrs">
        <ion-thumbnail item-start>
            <img-loader src="{{imageUrlPath}}{{attrs.data.IdBarangJadi}}.jpg" [spinner]="true" useImg></img-loader>
        </ion-thumbnail>
        <span [innerHTML]="attrs.data.IdBarangJadi | boldprefix:attrs.keyword"></span><br />
        <span [innerHTML]="attrs.data.BeratBJ"></span> gram
    </template>
    <ion-list>
        <ion-item>
            <ion-label>Kadar</ion-label>
            <ion-select [(ngModel)]="item.IdKadar" (ngModelChange)='kadarChanged()'>
                <ion-option *ngFor="let kadar of kadarCollection; let i=index" value="{{kadar.IdKadar}}">{{kadar.Kadar}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Cap</ion-label>
            <ion-select [(ngModel)]="item.IdCap" (ngModelChange)='capChanged()'>
                <ion-option *ngFor="let cap of capCollection|exactFilter:{IdKadar:item.IdKadar}; let i=index" value="{{cap.IdCap}}">{{cap.DisplayCap}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Warna</ion-label>
            <ion-select [(ngModel)]="item.IdWarnaBJ" (ngModelChange)='warnaBJChanged()'>
                <ion-option *ngFor="let warna of warnaBJCollection; let i=index" value="{{warna.IdWarnaBJ}}">{{warna.NamaWarna}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Batu</ion-label>
            <ion-select [(ngModel)]="item.IdBatu" (ngModelChange)="batuChanged()">
                <ion-option *ngFor="let batu of batuCollection; let i=index" value="{{batu.IdBatu}}">{{batu.NamaBatu}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>Keterangan</ion-label>
            <ion-input type="text" [(ngModel)]="item.description"></ion-input>
        </ion-item>
    </ion-list>
    <ion-auto-complete [dataProvider]="autoCompleteDataService" #searchbar (itemSelected)="itemSelected($event)" [template]="withDetails" [custom]="{IdKadar:item.IdKadar}"></ion-auto-complete>
    <div [hidden]="item.IdBarangJadi == ''">
        <ion-label> Kode : {{item.IdBarangJadi}}</ion-label>
        <ion-label> Berat : {{item.BeratBJ}}</ion-label>
        <ion-label> Divisi : {{item.Divisi}}</ion-label>
        <ion-label> Kadar : {{item.Kadar}}</ion-label>
        <ion-label> Cap : {{item.Cap}}</ion-label>
        <ion-label> Warna BJ : {{item.WarnaBJ}}</ion-label>
        <ion-label> Batu : {{item.Batu}}</ion-label>
        <ion-item>
            <ion-label floating>Kuantitas</ion-label>
            <ion-input type="number" [(ngModel)]="item.Quantity"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label [hidden]="!item.Calculation"> Gram</ion-label>
            <ion-label [hidden]="item.Calculation"> Pieces</ion-label>
            <ion-toggle [(ngModel)]="item.Calculation"></ion-toggle>
        </ion-item>
        <img-loader [hidden]="item.IdBarangJadi == ''" src="{{imageUrlPath}}{{item.IdBarangJadi}}.jpg" useImg></img-loader>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button color="secondary" full (click)="doEdit(item)">
            Ubah
        </button>
    </ion-toolbar>
</ion-footer>