﻿<ion-header>
    <ion-navbar>
        <ion-title>
            Tambah PP
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item (click)="loadCustomer()" [(ngModel)]="item.pelanggan.NamaCustomer">
        <ion-label floating>Customer</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>

    <!--<ion-item>
        <ion-label floating>Nomor PO</ion-label>
        <ion-input type="text" [(ngModel)]="item.nomorPO"></ion-input>
    </ion-item>-->
    <ion-item>
        <ion-label floating>Tanggal Order</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="item.orderDate" (ngModelChange)='orderDateChanged()'></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label floating>Deadline</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="item.deadline"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label floating>Keterangan</ion-label>
        <ion-input type="text" [(ngModel)]="item.description"></ion-input>
    </ion-item>
    <ion-list>
        <ion-list-header>
            Detail Barang ({{item.barang.length}})
        </ion-list-header>
        <div *ngFor="let currentBarang of item.barang; let i=index" style="display:flex; align-items:flex-end">
            <ion-item style="display:inline">
                {{currentBarang.IdBarangJadi}}
            </ion-item>
            <ion-item style="display:inline">
                <ion-label>Jml</ion-label>
                <ion-input type="number" [(ngModel)]="currentBarang.Quantity" (change)="doUpdateItem(currentBarang, i)"></ion-input>
            </ion-item>
            <ion-item item-end style="display:inline">
                <ion-label [hidden]="!currentBarang.Calculation"> Gram</ion-label>
                <ion-label [hidden]="currentBarang.Calculation"> Pieces</ion-label>
                <ion-toggle [(ngModel)]="currentBarang.Calculation" (change)="doUpdateItem(currentBarang, i)"></ion-toggle>
            </ion-item>
            <button ion-button item-end (click)="openEditItem(currentBarang, i)" clear>
                <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button color="danger" item-end (click)="deleteItem(i)" clear>
                <ion-icon name="trash"></ion-icon>
            </button>
        </div>
        <button ion-button full (click)="addDetailBarang()">Tambah Barang</button>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button color="secondary" full (click)="doAdd(item)">
            Tambah
        </button>
    </ion-toolbar>
</ion-footer>