﻿<ion-header>
    <ion-navbar>
        <ion-title>
            Pilih Customer
        </ion-title>
        <ion-buttons right>
            <button ion-button (click)="getCustomers()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label floating><div class="searchbar-search-icon"></div>Cari Customer</ion-label>
        <ion-input type="text" [(ngModel)]="search"></ion-input>
    </ion-item>
    <br />
    <!--show this if there are no items in the list-->
    <ion-item [hidden]="people.length > 0">
        <p><strong>Customer data is not available</strong></p>
    </ion-item>
    <ion-list radio-group [(ngModel)]="selectedCustomerid">
        <!--Display the current conditions data we have -->
        <ion-item *ngFor="let person of people|filter:{NamaCustomer:search} ; let i=index" [hidden]="person.NamaCustomer == ''">
            <ion-label>{{person.NamaCustomer}}</ion-label>
            <ion-radio value="{{person.IdCustomer}}"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button (click)="doSelectCustomer($event)" full>Pilih</button>
    </ion-toolbar>
</ion-footer>