﻿@ViewChild('searchbar')
  searchbar: AutoCompleteComponent;
<ion-header>
    <ion-navbar>
        <ion-title>
            Pilih Barang
        </ion-title>
        <ion-buttons right>
            <button ion-button (click)="getBarangJadis()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-auto-complete [dataProvider] = "autoCompleteDataService" #searchbar></ion-auto-complete>

    <button ion-button (click)="doSelectBarangAndAdd($event)" full>Pilih dan Tambah</button>

    <button ion-button (click)="doSelectBarang($event)" full>Pilih</button>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button (click)="doSelectBarang($event)" full>Pilih</button>
    </ion-toolbar>
</ion-footer>