﻿<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Ubah Detail Barang
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <template #withDetails let-attrs="attrs">
        <ion-thumbnail item-start>
            <img-loader src="{{imageUrlPath}}{{attrs.data.IdBarangJadi}}.jpg" [spinner]="true" useImg></img-loader>
        </ion-thumbnail>
        <span [innerHTML]="attrs.data.IdBarangJadi | boldprefix:attrs.keyword"></span>
        <br />
        <span [innerHTML]="attrs.data.BeratBJ"></span> gram
    </template>
    <ion-list>
        <ion-item>
            <ion-label>Kategori</ion-label>
            <ion-select [(ngModel)]="item.IdKategori">
                <ion-option *ngFor="let kategori of kategoriPerubahanModelCollection; let i=index" value="{{kategori.IdKategoriPerubahanModelRND}}">{{kategori.NamaKategoriPerubahanModelRND}}</ion-option>
            </ion-select>
        </ion-item>
        <img-loader [hidden]="item.IdBarangJadi == '' || item.IdKategori == 3" src="{{imageUrlPath}}{{item.IdBarangJadi}}.jpg" useImg></img-loader>
        <ion-auto-complete [hidden]="item.IdKategori == 3" [dataProvider]="autoCompleteDataService" #searchbar (itemSelected)="itemSelected($event)" [template]="withDetails"></ion-auto-complete>
        <ion-item>
            <ion-label>Kadar</ion-label>
            <ion-select [(ngModel)]="item.IdKadar">
                <ion-option *ngFor="let kadar of kadarCollection; let i=index" value="{{kadar.IdKadar}}">{{kadar.Kadar}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Request Sample</ion-label>
            <ion-checkbox [(ngModel)]="item.RequestSample"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Sample Terlampir</ion-label>
            <ion-checkbox [(ngModel)]="item.SampleTerlampir"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label floating>Keterangan RND</ion-label>
            <ion-input type="text" [(ngModel)]="item.rndDescription"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Kuantitas</ion-label>
            <ion-input type="number" [(ngModel)]="item.Quantity"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label [hidden]="!item.Calculation"> Gram</ion-label>
            <ion-label [hidden]="item.Calculation"> Pieces</ion-label>
            <ion-toggle [(ngModel)]="item.Calculation"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngFor="let uri of imageGalleryCollection">
            <img-loader src="{{uri}}" [spinner]="true" useImg></img-loader>
        </ion-item>
    </ion-list>
</ion-content>


<ion-footer>
    <ion-toolbar>
        <button ion-button color="secondary" full (click)="doLoadImagePicker()">
            Gallery
        </button>
        <button ion-button color="secondary" full (click)="doEdit(item)">
            Ubah
        </button>
    </ion-toolbar>
</ion-footer>