﻿<ion-header>
    <ion-navbar>
        <ion-title>
            {{ item.nomorPO }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Customer: {{ item.pelanggan.NamaCustomer }}</h2>
    <p>Tanggal : {{item.orderDate | date}}</p>
    <p>Deadline : {{item.deadline | date}}</p>
    <p>Keterangan : {{item.description}}</p>
    <p>Berat Total : {{item.totalWeight}} gram</p>
    <ion-list>
        <ion-list-header>
            Detail Barang ({{item.barang.length}})
        </ion-list-header>
        <div *ngFor="let barang of item.barang; let i=index" style="display:flex; align-items:flex-end">
            <ion-item style="display:inline">
                {{barang.IdBarangJadi}}
            </ion-item>
            <img-loader [hidden]="item.IdBarangJadi == ''" src="{{imageUrlPath}}{{item.IdBarangJadi}}.jpg" useImg></img-loader>
            <p [hidden]="!barang.Calculation">Jumlah : {{barang.Quantity}} Gram</p>
            <p [hidden]="barang.Calculation">Jumlah : {{barang.Quantity}} Pieces</p>
        </div>
    </ion-list>
</ion-content>