<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons right>
            <button ion-button (click)="getPerubahanModel()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Perubahan Model
        </ion-title>
    </ion-navbar>
    <ion-segment [(ngModel)]="pm">
        <ion-segment-button value="pending">
            Baru
        </ion-segment-button>
        <ion-segment-button value="submitted">
            Terkirim
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content [ngSwitch]="pm">
    <div *ngSwitchCase="'pending'">
        <ion-fab bottom right>
            <button ion-fab mini (click)="addPm()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
        <ion-item>
            <ion-label floating>Cari PM</ion-label>
            <ion-input type="text" [(ngModel)]="searchPM"></ion-input>
        </ion-item>
        <ion-item [hidden]="perubahanModel.length > 0">
            <p><strong>Belum Ada data PM</strong></p>
        </ion-item>
        <ion-list>
            <ion-item-sliding *ngFor="let pm of perubahanModel|filter:{NamaCustomer:searchPM} ; let i=index">
                <ion-item>
                    <p>Tanggal Order: {{pm.date|date}}</p>
                    <p>Divisi: {{pm.divisionName}}</p>
                    <p>Berat Total: {{pm.totalWeight}} gram</p>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="danger" (click)="deletePm(i)">
                        <ion-icon name="trash"></ion-icon>
                        Hapus
                    </button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="submitPm(pm)">
                        <ion-icon name="paper-plane"></ion-icon>
                        Kirim
                    </button>
                    <button ion-button color="secondary" (click)="editPm(pm, i)">
                        <ion-icon name="create"></ion-icon>
                        Atur
                    </button>
                    <button ion-button color="primary" (click)="pmDetail(pm)">
                        <ion-icon name="arrow-dropright"></ion-icon>
                        Detail
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

    <div *ngSwitchCase="'submitted'">
        <ion-item>
            <ion-label floating>Cari PM</ion-label>
            <ion-input type="text" [(ngModel)]="searchSubmittedPM"></ion-input>
        </ion-item>
        <ion-item [hidden]="perubahanModel.length > 0">
            <p><strong>Belum Ada data PM</strong></p>
        </ion-item>
        <ion-list>
            <ion-item-sliding *ngFor="let pm of submittedPerubahanModel|filter:{NamaCustomer:searchSubmittedPM} ; let i=index">
                <ion-item>
                    <h2 color="primary">{{pm.nomorPO}} [{{pm.pelanggan.NamaCustomer}}]</h2>
                    <p>Tanggal Order: {{pm.orderDate|date}}</p>
                    <p>Deadline: {{pm.deadline|date}}</p>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="pmDetail(pm)">
                        <ion-icon name="text"></ion-icon>
                        Detail
                    </button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="reSubmitPm(pm)">
                        <ion-icon name="paper-plane"></ion-icon>
                        Kirim Ulang
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

</ion-content>