﻿<ion-header>
    <ion-navbar>
        <ion-title>
            Ubah Perubahan Model {{ item.nomorPO }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label floating>Tanggal</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="item.date"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Divisi</ion-label>
            <ion-select [(ngModel)]="item.idDivisi">
                <ion-option *ngFor="let divisi of divisiCollection; let i=index" value="{{divisi.Id}}">{{divisi.NamaDivisi}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-list-header>
            Detail Barang ({{item.barang.length}})
        </ion-list-header>
        <div *ngFor="let currentBarang of item.barang; let i=index" style="display:flex; align-items:flex-end">
            <ion-item style="display:inline">
                {{currentBarang.IdBarangJadi}}
            </ion-item>
            <ion-item style="display:inline">
                <ion-label>Jml</ion-label>
                <ion-input type="number" [(ngModel)]="currentBarang.Quantity" (change)="doUpdateItem(currentBarang, i)"></ion-input>
            </ion-item>
            <ion-item item-end style="display:inline">
                <ion-label [hidden]="!currentBarang.Calculation"> Gram</ion-label>
                <ion-label [hidden]="currentBarang.Calculation"> Pieces</ion-label>
                <ion-toggle [(ngModel)]="currentBarang.Calculation" (change)="doUpdateItem(currentBarang, i)"></ion-toggle>
            </ion-item>
            <button ion-button item-end (click)="openEditItem(currentBarang, i)" clear>
                <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button color="danger" item-end (click)="deleteItem(i)" clear>
                <ion-icon name="trash"></ion-icon>
            </button>
        </div>
        <button ion-button full (click)="addDetailBarang()">Tambah Barang</button>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <button ion-button full color="secondary" (click)="doUpdate(item)">
            <ion-icon name="construct"></ion-icon>
            Ubah
        </button>
    </ion-toolbar>
</ion-footer>