<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Lotus Marketing</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="center">
        <br />
        <br />
        <br />
        <br />

        <p class="center">
            <img src="assets/logo.png"/>
        </p>

        <p class="center">{{quote.quoteText}}</p>
        <p class="center">- {{quote.quoteAuthor}}</p>
    </div>

</ion-content>
